.otp-input{
    width: 60px;
    border: 0;
    background-color: rgb(66, 66, 144);
    border-radius: 0.5rem;
    color: #F1F2FF;
    text-align: center;
}
.otp-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.otp-input::placeholder{
    color: black;
}
.title-verify{
    color: white;
    padding-bottom: 30px;
}
.verifyBtn{
    width: 130px;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 40px;
    color: #161D29;
    font-weight: bold;
    border: none;
    outline: none;
}
.resend{
    margin-top: 30px;
}